apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: pi-hole
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/brid/argo-cd-pi-hole.git
    targetRevision: HEAD
    path: app
  destination: 
    server: https://kubernetes.default.svc
    namespace: pihole

  syncPolicy:
    syncOptions:
    - CreateNamespace=true

    automated:
      selfHeal: true
      prune: true